.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

.navbarButtons {
  display: flex;
  align-items: center;
}

.navbarList {
  display: flex;
}

.navbarListItems {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbarListItems li {
  margin-right: 20px;
  cursor: pointer;
  color: #555;
}

.navbarListItems li:hover {
  color: #000;
}

.navbarListItems .active {
  color: #000;
  font-weight: bold;
}

.navbarLogin {
  display: flex;
  align-items: center;
}

.navbarLoginItems {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  float: right;
}

.navbarLoginItems li {
  cursor: pointer;
  margin-right: 3rem;
  color: #555;
}

.navbarLoginItems li:hover {
  color: rgb(217, 39, 39);
}

.logout {
  display: flex;
  align-items: center;
  margin: 1rem;
  color: #f44336;
  font-weight: bold;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  margin: 1rem;
}
div p{
  display: flex;
  align-items: center;
}


/*------- Media Queries ---------*/
/* Mobile devices */
@media (max-width: 767px) {
  .navbar {
    flex-direction: column;
    padding: 10px 20px;
  }
  
  .navbarButtons {
    width: 100%;
  }
  
  .navbarList {
    margin-bottom: 10px;
  }
  
  .navbarListItems li {
    margin-right: 0;
    margin-bottom: 10px;
    display: block;
    text-align: center;
  }
  
  .navbarLoginItems {
    display: none;
  }
}

/* Tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .navbarListItems li {
    margin-right: 30px;
  }
  
  .navbarLoginItems li {
    margin-right: 30px;
  }
}